.about{
    width: 100%;
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    row-gap: 6vh;
    align-items: center;
   
    
}

#h3-icon-contact{
    transform: translateY(-4px);
}

.about_cont{
    width: 70%;
    display: flex;
    flex-direction: column;

    row-gap: 3vh;
}






/* --------------------------------- Ability container --------------------------------- */


.skills-cont{
     /*general ability container, this is the cont that have assigned the area B*/
    
    display: flex;
    height: auto;
    flex-wrap: wrap;
    column-gap: 7.2vh;
    row-gap: 6vh;
    align-items: center;
    justify-content: center;
}

.code-skills, .language-skills, .language-description, .contact-box{  
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0.8rem;
    border-radius: var(--border-radius-common);
    /* min-width: 300px; */
    box-shadow: var(--card-box-shadow);
    height: max-content;

    flex-shrink: 0;
    flex-grow: 0;
}

.code-skills{
    justify-content: space-around;
}

.language-skills{
 width: fit-content;
}


.about-general-language-cont{
    display: flex;
    flex-direction: column;
    
    gap: 10px;
}


.skills-span{
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    text-align: center;   
}



.code-skills_bars{
    display: flex;
    gap: 10px;
    flex-direction: column;
    
}

.code-ability_bars{  
    /* this is the bar wich represent my knowloged about lenguage */
    width: 100%;
    height: 1rem;
    background-color:var(--primary-color);
    border-radius: 3px;
    margin-top: 4px;
    position: relative;
}



.contact_card-cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.contact-card{
    display: flex;
    gap: 15px;
}

.contact-icon_cont{
    border-radius: var(--border-radius-common);
    box-shadow: var(--card-box-shadow);
    width: fit-content;
    padding: 3px;
    
}

.contact-icon{
    height: 40px;
    width: 40px;
    
}




/*------------------------ bar of language of programation ------------------------*/

.JS-bar::before, .CSS-bar::before, .HTML-bar::before, .Cisco-bar::before, .py-bar::before{
    content: " ";
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    height: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.JS-bar::before{
    width: 60%;
}

.CSS-bar::before{
    width: 65%;
}

.HTML-bar::before{
    width: 70%;
}

.Cisco-bar::before{
    width: 40%;
}

.py-bar::before{
    width: 50%;
}





.span-cont_span{ /*----------------- span with shadows -----------------*/
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}




.language_circles{
    /*this is the div wich contain the svg*/
    

    border-radius: 50%;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


/* ------------------------ Circle bar STYLES ------------------------ */


.circular-progress { 
    /* is the svg */
    --size: 250px;
    --half-size: calc(var(--size) / 2);
    --stroke-width: 20px;
    --radius: calc((var(--size) - var(--stroke-width)) / 2);
    --circumference: calc(var(--radius) * pi * 2);
    --dash: calc((var(--progress) * var(--circumference)) / 100);
}
  
.circular-progress circle {
    cx: var(--half-size);
    cy: var(--half-size);
    r: var(--radius);
    stroke-width: var(--stroke-width);
    fill: none;
    stroke-linecap: round;
    scale: 0.9;
}
    
.circular-progress circle.fg {
    transform-origin: var(--half-size) var(--half-size);
    stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
    transition: stroke-dasharray 0.1s linear 0s;
    stroke: rgba(255, 255, 255, 0.8);
    filter: drop-shadow(1px 1px 2px #888);
  }

.spanish-circle{
    animation: progress-animation1  linear 0s 1 forwards;
  }

.english-circle{
    animation: progress-animation2  linear 0s 1 forwards;
  }
.inglish-fg{
    transform: rotate(90deg);
}


.circle-span{
    position: absolute;
    text-align: center;
}
  
@property --progress {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
  }
  
@keyframes progress-animation1 {
    from {--progress: 0;}
    to {--progress: 100;}
  }
 
@keyframes progress-animation2 {
    from {--progress: 0;}
    to {--progress: 65;}
  }




  /* ------------------------------- language description -------------------------------- */

 

  .language-description-text{
    width: 300px;
    text-align: center;
  }




  /*------------------------------- Personal tates container -------------------------------*/

 #personal-tates{
    border-radius: 0;
    background-color: rgb(15 15 15);
    box-shadow: none;
    cursor: pointer;
    padding: 1.2vh;

    

   display: grid;
   grid-template-rows: 2vh 0fr;
   transition: grid-template-rows 0.5s ease;

 }

#personal-tates.expand{
    grid-template-rows: 2vh 1fr;
 }

#personal-tates.expand .cards{
    margin-top: 2.5vh;
    margin-bottom: 2vh;
}

 #ttl-pt{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

 }

 #ttl-pt img{
    height: 2vh;
    position: absolute;
    left: 1vh;

    transition: transform 0.5s ease;
 }

 .rotate{
    transform: rotate(90deg);
 }

 
.tates.cards{

    width: 100%;
    justify-content: center;
    gap: 5vh;
    overflow: hidden;
    transition: margin 0.5s ease;
 }







 .img-cont-pt{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);

    gap: 1.2vh;
    flex-grow: 0;
    flex-shrink: 0;
 }

 .sub-img-cont{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-cont-pt img{
    height: 10vh;
 }

.sub-img-cont img{
    height: 90%;
}
 

 