
/* ----- h3 container -----*/



.h3_cont{
    display: flex;
    justify-content: center;
}

.h3_icon{
    width: 35px;
    height: 35px;
    fill: #ffff;
}

.h3{
    transform: translateY(11%);

    
}

/* ----- h3 container end -----*/



#educacion .card{
    gap: 2.3vh;
}
