.about{
    margin-bottom: 40px;
}

/* ----- article container -----*/
.edu-cont{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    margin-bottom: 20px;
    
}


/* ----- article container end -----*/

/* ----- h3 container -----*/



.h3-cont{
    display: flex;
    justify-content: center;
}

.h3-cont__icon{
    width: 35px;
    height: 35px;
    fill: #ffff;
}

.h3-cont__h3{
    transform: translateY(11%);

    
}

/* ----- h3 container end -----*/




/* ----- card container -----*/
.edu-cont__card-cont{
    display: flex;
    justify-content: center;
    height: minmax(200px);
    column-gap: 20px;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 20px;
}

.edu-cont__card-cont__card{  /*the display flex is more down with the span-cont*/
    width: 250px;
    background: var(--card-color);
    backdrop-filter: blur(2px);
    border-radius: var(--border-radius-common);
    height: 150px;
    justify-content: center;
    box-shadow: var(--card-box-shadow);
    text-align: center;
    cursor: pointer;
    transition: height 0.3s ease;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8)
}

.edu-cont__card-cont__card:hover{
    height: 170px;
    
}



.edu-cont__card-cont__card__h3{
    font-size: 16px;
}

.edu-cont__card-cont__card__span-cont, .edu-cont__card-cont__card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ----- card container end -----*/