



header{    
    height: 100vh;
    width: 100%;
}

.section-hero{ /*section-hero is in header*/
    width: 100%;
    padding: 20px;
}

.navbar{  /*navbar is in header*/
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 50%));
    align-content: center;
    justify-items: center;
    justify-content: center;
    row-gap: 80px;
}



/* ---------------- hero navbar ----------------*/

.navbar__hero-container{
    display: flex;
    flex-direction: column;
    align-items: start;

}

.navbar__hero-container__h1-cont__h1{
    text-align: left;
    flex-shrink: 0;
}

.navbar__hero-container__p-cont{
    max-width: 390px;
    flex-grow: 0;
}


.navbar__hero-container__p-cont__p{
    color: rgba(228, 228, 228, 0.6);
}





/* ---------------- end hero navbar ----------------*/



/* ---------------- ul navbar ----------------*/
.navbar__ul-container{
    display: flex;
    width: auto;
    justify-content: center;
}

.navbar__ul-container__ul{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: center;
    flex-direction: column;
    min-width: 160px;
    
}

.navbar__ul-container__ul__li{
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    display: flex;
    /*transform: translateY(-35px) translateX(-30px);*/
}

.navbar__ul-container__ul__li__span-line{
        position: relative;
        display: block;
        height: 2px;
        background-color: #ffffff;
        width: 10px;
        top: 50%;
        margin-right: 6px;
        transition: width 0.8s;
        transition-timing-function: ease;
        transition-delay: 0.04s;
}
        


.navbar__ul-container__ul__li:hover > .navbar__ul-container__ul__li__span-line{
    width: 20px;
}
/* ---------------- endul navbar ----------------*/