@import url(header.css);
@import url(article-educacion.css);
@import url(scroll-guide.css);
@import url(about-cont.css);
@import url(general-class.css);

:root{
    --primary-color: rgb(46, 47, 49);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fragment Mono", monospace;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}