@import url(header.css);
@import url(article-educacion.css);
@import url(scroll-guide.css);
@import url(about-cont.css);
@import url(general-class.css);

:root{
    --primary-color: rgb(46, 47, 49);
    /*--card-color: rgba(250,250,250,0.03);*/
    --card-box-shadow: 0px 0px 1px 0.5px rgba(255, 255, 255, 0.1);
    

    --border-radius-common: 9px;
}

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fragment Mono", monospace;
}

body{
    background: linear-gradient(353deg, rgba(46,43,32,1) 0%, rgba(0,0,0,1) 100%);
    color: rgb(228, 228, 228);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(228, 228, 228);;
}