

#proyectos{
     height: 80vh;
}

.card.ofProject{
     height: 150px;
     width: 250px;
     gap: 3vh;
     align-items: center;

}

.projectIconCont{
     height: 45%;
     margin-top: 2vh;
     
}


/* Turnos */
.projectIcon{
     width: 100%;
     height: 100%;
    
}

