.screen{
     height: 100vh;
     width: 100vw;
     display: none;
    
    
        position: fixed;
    top: 0;
     z-index: 2000;
     overflow-y: auto;

     background: rgba(25, 25, 25, 0.8);
     -webkit-backdrop-filter: blur(20px);
     backdrop-filter: blur(20px);
    
     

     flex-direction: column;
     
}

@supports (backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px)) {
  .screen {
    background: transparent;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}

.active{
     display: flex;    
}

.sub_screen{
     /* padding-top : 3vh; */
     width: 100%;
     display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.icons-box{
     width: 100%;
     position: sticky;
     
     
     z-index: 2100;
     top: 3vh;
     display: flex;
     justify-content: space-between;
}

.icon-box{
     padding: 1vh;
     border-radius: var(--border-radius-common);
     box-shadow: var(--card-box-shadow);
     
     height: fit-content;
     width: fit-content;
     position: relative;
     left: 3vh;
     cursor: pointer;
     transition: scale 0.3s ease ;

     
}
.icon-box:hover{
     scale: 1.1;
}

.icon-box.r{
     right: 3vh;
     left: -3vh;
}

.icon-box a{
     height: 100%;
     width: 100%;
     display: block;
}

.gallery{
     /* height: max-content; */
     padding-top: 5vh;
     padding-bottom: 3vh;

     width: 100%;
     display: grid;
     
     grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(380px, 40vw));
    justify-content: center;
    gap: 3vh;
}

.imgCont{
     
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     gap: 2vh;
}

.imgCont img{
     height: 23vh;
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
     border-radius: var(--border-radius-common);
     transition: scale 0.3s ease;
     cursor: pointer;
}

.imgCont img:hover{
     scale: 1.1;
}

.screenCard{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
     width: 90%;
     box-shadow: var(--card-box-shadow);
     border-radius: var(--border-radius-common);
     padding: 2vh;
}

.screenCard.tec{
     width: 300px;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
}

.screenCard.tec.colm{
     width: 300px;
     flex-direction: column;
     justify-content: initial;
     align-items: normal;
     height: fit-content;
}

.tecIcon{
     height: 25px;
}
.tecIcon[down="t"]{
     position: relative;
     top: 2.5px;
}
.tecH3{
     display: flex;
     gap: 0.7vh;
     
}


.description{
     /* position: relative; */
     min-height: auto;
     width: 80%;
     display: flex;
     align-items: center;
     /* border-top: 0.5px rgba(255, 255, 255, 0.1) solid ; */
     flex-direction: column;
     padding-top: 3vh;
     padding-bottom: 5vh;
     gap: 4vh;

     /* grid-template-columns: minmax(400px, 3fr) minmax(350px, 1fr) ;
     grid-auto-flow: row; */
}

.shw-description{
     align-items: normal;
}


.description .large-card{
     width: 100%;
     grid-area: unset;
     display: flex;
     flex-direction: column;
     gap: 1.5vh;
}

.gallery .shw_txt{
     text-align: initial;
     display: block;
     height: auto;
}

.video-cont iframe{
     height: 350px;
     width: 350px;
     border-radius: 2vh;
     border: none;
     overflow: hidden;
     box-shadow: var(--card-box-shadow);
}



/* SCREEN FOR IMAGES */
.screen[data-screen="img"]{
     z-index: 4000;
     align-items: center;
     justify-content: center;
}

.screen[data-screen="img"] img{
     height: 50vh;
     border-radius: 2vh;
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
     border-radius: var(--border-radius-common);
     max-width: 100vw;
}
