.scroll-guide-region{
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    z-index: 1000;
    top: 0;
    transition: top 0.4s ease;
}

.scroll-guide-cont{
    display: flex;
    justify-content: space-evenly;
    width: 170px;
    height: 43px;
    align-items: center;
    background-color: rgb(15, 15, 15, 0.6);
    border-radius: var(--border-radius-common);
    box-shadow: 0 0 3.5px rgba(200, 200, 200, 0.7);
    
    
}


.a_of_circle{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.circle{
    height: 20px;
    width: 20px;
    border: solid #ffffff70 3px;
    border-radius: 50%;
}

.scale1{
    transform: scale(1.45);
    border: solid #ffff 3px;
    transition: transform 0.5s;
}

section{
    scroll-margin-top: 9vh;
    margin-bottom: 8vh;
}